<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier un Patient</title>
    <style> label, input { display: block; margin-bottom: 10px; } </style>
</head>
<body>

<h1>Modifier le Patient</h1>


<form th:action="@{/ui/patients/update/{id}(id=${patient.id})}" th:object="${patient}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="lastName">Nom:<span style="color:red">*</span></label>
        <input type="text" id="lastName" th:field="*{lastName}" required
               pattern="^\S+.*$" title="Le nom de famille est obligatoire"/>
    </div>
    <div>
        <label for="firstName">Prénom:<span style="color:red">*</span></label>
        <input type="text" id="firstName" th:field="*{firstName}" required
               pattern="^\S+.*$" title="Le prénom est obligatoire"/>
    </div>
    <div>
        <label for="birthdate">Date de Naissance (YYYY-MM-DD):<span style="color:red">*</span></label>
        <input type="text" id="birthdate" th:field="*{birthdate}" placeholder="YYYY-MM-DD" required
               pattern="^\d{4}-\d{2}-\d{2}$" title="Format requis: YYYY-MM-DD"/>
    </div>
    <div>
        <label for="gender">Genre (M/F):<span style="color:red">*</span></label>
        <input type="text" id="gender" th:field="*{gender}" maxlength="1" required
               pattern="^[MF]$" title="M pour masculin, F pour féminin"/>
    </div>
    <div>
        <label for="address">Adresse (Optionnel):</label>
        <input type="text" id="address" th:field="*{address}" />
    </div>
    <div>
        <label for="phoneNumber">Téléphone (Optionnel):</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" />
    </div>
    <div>
        <button type="submit">Mettre à Jour</button>
    </div>
</form>

<p><a th:href="@{/ui/patients}">Retour à la liste</a></p>


</body>
</html>